{
  "checks": {
    "cpu_mpstat_metrics": {
      "type": "metric",
      "command": "/opt/sensu/embedded/bin/ruby {{sensu_config_path}}/plugins/metrics-cpu-mpstat.rb",
      "subscribers": [
        "common",
        "environment_STG"
      ],
      "interval": 10,
      "time_precision": "s",
      "handlers": [
        "metrics"
      ]
    }
  }
}
